[Desktop Entry]
Version=1.0
Type=Application
Name=IDEA CE
Icon=/opt/idea-ce/bin/idea.png
Exec=idea-ce %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea